* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr 300px;
  grid-template-rows: auto auto 1fr;
  min-height: 100vh;
  gap: 4px;
}

.header {
  background-color: white;
  grid-area: 1 / 2 / 3 / 4;
  padding: 24px 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar input {
  width: 600px;
  padding: 8px 16px;
  border-radius: 999px;
  border: none;
  background-color: #e2e8f0;
  font-size: 14px;
}

.header-profile {
  display: flex;
  align-items: center;
  gap: 40px;
  font-weight: bold;
  padding-right: 20px;
}

.header-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ccc;
}

.header-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-greeting {
  display: flex;
  align-items: center;
  gap: 24px;
}

.header-greeting img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #ccc;
}

.header-greeting p:first-child {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 4px;
}

.header-greeting p:last-child {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.header-buttons {
  display: flex;
  gap: 24px;
}

.header-buttons button {
  padding: 10px 28px;
  border-radius: 999px;
  border: none;
  background-color: #177ab4;
  color: white;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.header-buttons button:hover {
  background-color: #0f5a8a; /* darker shade */
  transform: scale(1.05);
}

.sidebar {
  grid-area: 1 / 1 / -1 / 2;
  background-color: #177ab4;
  color: white;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}


.sidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.sidebar li {
  font-size: 16px;
  font-family: Helvetica;
  font-weight: bold;
  cursor: pointer;
}

.article {
  grid-area: 3 / 2 / 4 / 3;
  background-color: #e8edf2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: start;
  gap: 24px;
  padding: 18px;
}

.article .card {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  min-height: 250px;
  border-left: 10px solid gold;
}

.left-title {
  grid-column: 1 / -1;
  margin-bottom: 0;
}

.article-right {
  grid-area: 3 / 3 / 4 / 4;
  background-color: #e8edf2;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.article-right .card {
  background-color: white;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  min-height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.announcement {
  flex: 1; /* each section takes equal space */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8px 0;
}

.announcement:not(:last-child) {
  border-bottom: 1px solid #e0e0e0;
}

.announcement .title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 4px;
}

.announcement p:last-child {
  font-size: 12px;
  color: #999; /* faded text */
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
  font-family: Helvetica;
}

.card .title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}